html {
	background-image: url("img/pw_maze_white.png");
	background-repeat: repeat;
}
body {
	font-family: comfortaa, sans-serif;
	text-align: center;
}

#webcam {
	display: none;
}

#canvas-blended {
	display: none;
}

#snare {
	width: 100px;
	height: 50px;
	position: absolute;
	border: 2px solid red;
	border-radius: 15px;
	margin: 0px;
	z-index: 1;
}